In [20]:
import pandas as pd
import numpy as np
df = pd.read_csv("dulieuxettuyendaihoc.csv", index_col = "STT")
#Cau 3  10 dong dau && 10 dong cuoi
print(df.head(10)) 
print(df.tail(10)) 
#Cau 4  Thống kê dữ liệu thiếu cho cột dân tộc
print(df["DT"].fillna(0, inplace = False))
#Cau 5 Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu
print(df["T1"].fillna(df["T1"].mean(), inplace = False))
def fill(col):
    return df[col].fillna(df[col].mean(), inplace = False)
df.dtypes


is_float64 = df.dtypes == float
df_column_list = df.columns[is_float64].tolist()
print(df_column_list)

for col in df_column_list:
    df[col].fillna(df[col].mean(), inplace = False)

df.isnull().values.any()


for i in ["1", "2", "6"]:
    print("TBM"+i)
# Cau 7
for i in ["1", "2", "6"]:
    df["TBM"+i] = (df["T"+i]*2 + df["L"+i] + df["H"+i] + df["S"+i] + df["V"+i]*2 + df["X"+i] + df["D"+i] + df["N"+i])/10

df.rename(columns ={"TBM6":"TBM3"}, inplace =True)
print(df.head)
#Cau 8 Tạo các biến xếp loại XL1, XL2 và XL3
for i in ["1", "2", "3"]:
    df.loc[df["TBM"+i] <= 5, "XL"+i] = "Y"
    df.loc[(df["TBM"+i] <= 6.5) &(df["TBM"+i] > 5), "XL"+i] = "TB"
    df.loc[(df["TBM"+i] <= 8) &(df["TBM"+i] >= 6.5), "XL"+i] = "K"
    df.loc[(df["TBM"+i] <= 9) &(df["TBM"+i] >= 8), "XL"+i] = "G"
    df.loc[df["TBM"+i] >= 9, "XL"+i] = "XS"
print(df.head())

for i in ["1", "2", "3"]:
    df["US_TBM"+i] = df["TBM"+i]/10 *4
print(df.head())
#Cau 9
for i in df["KT"].unique():
    str(1)
    df.loc[(i == "A1" or i == "A")& (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "A1" or i == "A")& (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) < 5), "KQXT"] = 0

    df.loc[(i == "B")& (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "B")& (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) < 5), "KQXT"] = 0

    df.loc[(i != "A1" or i != "A" or i == "B")&(((df["DH1"] + df["DH2"] + df["DH3"])/3) >= 5), "KQXT"] = 1
    df.loc[(i != "A1" or i != "A" or i == "B")&(((df["DH1"] + df["DH2"] + df["DH3"])/3) < 5), "KQXT"] = 0

print(df.head(100))

# #Cau 10
df.to_csv("processed_dulieuxettuyendaihoc.csv")

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  6.6  7.6  5.9   F
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.6  6.1  4.4   M
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  7.9  8.1  4.6   M
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  7.1  7.3  7.4   M
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.1  7.5  7.2   M
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  7.8  ...  5.7  8.0  7.8   M
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  6.7  ...  6.6  6.0  6.0   F
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  6.3  ...  7.1  6.8  7.0   F
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  6.8  ...  9.1  7.9  6.1   F
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  6.8  ...  6.4  6.1  7.8   F

     DT   KV   DH1   DH2   DH3  KT
STT
1   NaN  2NT  3.25  3.25  4.50  A1
2   NaN    1  6.00  4.00  3.50   C
3   NaN    1  5.00  6.75  4.00   C
4   NaN    1  4.25  4.25  5.25  D1
5   NaN  2NT  4.25  4.50  5.00   A
6   NaN    1  1.50  4.00  6.00  D1
7   NaN    2  6.50  6.75  5.25   C
8   NaN    2  3.75  4.50  4.25  D1
9   NaN    1  3.50  3.50  6.75  D1
10  NaN    1  4.00  4.75  5.50  D1

[10 rows x 55 columns]
      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
91   8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  8.3  ...  8.3  8.7  7.8   M
92   7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  6.9  ...  7.2  7.4  7.0   M
93   5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  6.1  ...  5.9  6.7  5.8   M
94   5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  5.8  ...  8.7  7.8  5.0   M
95   5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  7.2  ...  7.3  6.8  5.3   M
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  6.3  6.1  6.2   F
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  7.9  7.5  4.4   F
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  9.6  8.4  5.8   M
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  6.6  5.2  5.9   M
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.6  6.6  5.8   M

     DT   KV   DH1   DH2   DH3  KT
STT
91  NaN    2  6.25  4.00  6.50   A
92  NaN  2NT  4.75  4.75  4.50   A
93  NaN    1  3.25  5.25  4.25   A
94  NaN    1  3.50  4.25  5.00   A
95  NaN    1  4.25  2.50  4.75   A
96  NaN    1  5.25  1.50  6.25   C
97  NaN    1  5.25  3.75  4.75   C
98  NaN  2NT  7.00  8.00  4.00   C
99  NaN    1  5.00  3.50  5.50   C
100 NaN  2NT  5.25  2.50  4.25   C

[10 rows x 55 columns]
STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64
STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64
['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3', 'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5', 'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6', 'DT', 'DH1', 'DH2', 'DH3']
TBM1
TBM2
TBM6
<bound method NDFrame.head of       T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  GT  DT   KV   DH1  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...   F NaN  2NT  3.25
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...   M NaN    1  6.00
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...   M NaN    1  5.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...   M NaN    1  4.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...   M NaN  2NT  4.25
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...   F NaN    1  5.25
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...   F NaN    1  5.25
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...   M NaN  2NT  7.00
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...   M NaN    1  5.00
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...   M NaN  2NT  5.25

      DH2   DH3  KT  TBM1  TBM2  TBM3
STT
1    3.25  4.50  A1  7.00  7.54  7.01
2    4.00  3.50   C  4.69  5.47  5.07
3    6.75  4.00   C  5.77  5.38  6.04
4    4.25  5.25  D1  6.21  5.20  6.88
5    4.50  5.00   A  6.50  6.36  6.99
..    ...   ...  ..   ...   ...   ...
96   1.50  6.25   C  7.43  7.42  6.83
97   3.75  4.75   C  4.93  5.15  6.39
98   8.00  4.00   C  7.05  7.84  7.67
99   3.50  5.50   C  4.15  4.72  5.29
100  2.50  4.25   C  5.26  5.72  5.85

[100 rows x 58 columns]>
      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH1   DH2   DH3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  3.25  4.50
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.00  4.00  3.50
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.00  6.75  4.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  4.25  5.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.25  4.50  5.00

     KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
STT
1    A1  7.00  7.54  7.01    K    K    K
2     C  4.69  5.47  5.07    Y   TB   TB
3     C  5.77  5.38  6.04   TB   TB   TB
4    D1  6.21  5.20  6.88   TB   TB    K
5     A  6.50  6.36  6.99    K   TB    K

[5 rows x 61 columns]
      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  KT  TBM1  TBM2  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  A1  7.00  7.54
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...   C  4.69  5.47
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...   C  5.77  5.38
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  D1  6.21  5.20
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...   A  6.50  6.36

     TBM3  XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3
STT
1    7.01    K    K    K    2.800    3.016    2.804
2    5.07    Y   TB   TB    1.876    2.188    2.028
3    6.04   TB   TB   TB    2.308    2.152    2.416
4    6.88   TB   TB    K    2.484    2.080    2.752
5    6.99    K   TB    K    2.600    2.544    2.796

[5 rows x 64 columns]
      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  TBM1  TBM2  TBM3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  7.00  7.54  7.01
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  4.69  5.47  5.07
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.77  5.38  6.04
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  6.21  5.20  6.88
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.50  6.36  6.99
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  7.43  7.42  6.83
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  4.93  5.15  6.39
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  7.05  7.84  7.67
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  4.15  4.72  5.29
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.26  5.72  5.85

     XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
STT
1      K    K    K    2.800    3.016    2.804   0.0
2      Y   TB   TB    1.876    2.188    2.028   0.0
3     TB   TB   TB    2.308    2.152    2.416   1.0
4     TB   TB    K    2.484    2.080    2.752   0.0
5      K   TB    K    2.600    2.544    2.796   0.0
..   ...  ...  ...      ...      ...      ...   ...
96     K    K    K    2.972    2.968    2.732   0.0
97     Y   TB   TB    1.972    2.060    2.556   0.0
98     K    K    K    2.820    3.136    3.068   1.0
99     Y    Y   TB    1.660    1.888    2.116   0.0
100   TB   TB   TB    2.104    2.288    2.340   0.0

[100 rows x 65 columns]